<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <title><%= @title %></title>
    <%= @head %>
  </head>
  <body>
    <div class="container">
        <h1 class="display-1"><a href="/"><%= @title %></a></h1>
    </div>
    <div class="container">
      <div class="lead">
      <%= @text %>
      </div>
    </div>
  </body>
</html>
