name: GitHub Actions CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  style:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install shfmt
        run: brew install shfmt

      - run: script/style

  tests:
    runs-on: macos-14
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Set up Homebrew to install from API
        run: echo HOMEBREW_NO_INSTALL_FROM_API= >> "$GITHUB_ENV"

      - run: brew test-bot --only-cleanup-before

      - name: Cleanup macOS
        run: sudo rm -rf /usr/local/bin/brew /usr/local/.??*
                         /usr/local/Homebrew /opt/homebrew
                         /Applications/Xcode.app /usr/local/Caskroom
                         /Library/Developer/CommandLineTools

      - name: Check installed Xcodes
        run: ls /Applications/Xcode*.app

      - name: Use newer Xcode
        run: sudo xcode-select --switch /Applications/Xcode_15.2.app/Contents/Developer

      - run: ./strap.sh
        env:
          STRAP_CI: 1
          STRAP_DEBUG: 1

      - name: Rerun ./strap.sh
        run: ./strap.sh
        env:
          STRAP_CI: 1

      - run: brew config

      - run: brew doctor

      - name: Install Ruby dependencies
        run: brew install gmp openssl libyaml

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: script/bootstrap

      - run: script/tests

      - run: brew install --build-from-source --formula libfaketime

      - run: brew install --cask orka

      - run: brew install --formula xz
